#titulo{
    color: aqua;
}

.destacar{
    color: green;
}


.missao{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

article > .destacar > strong{
    color: brown;
}